/* --------------- footer style4 --------------- */
.tc-recommended-style4 {
    // padding-bottom: 80px;

    .recommended-content {
        .nav-pills {
            justify-content: center;
            margin-bottom: 40px;
            .nav-link {
                font-size: 13px;
                padding: 8px 15px;
                border-radius: 5px;
                background-color: #edf0f7;
                color: #000;
                text-transform: capitalize;
                margin: 0 5px;
                font-weight: bold;
                &.active {
                    background-color: var(--color-cyan2);
                    color: #fff;
                }
            }
        }
    }

    .recommended-slider-content {
        position: relative;
        width: calc(100% + 140px);
        margin-left: -70px;
        padding: 0 70px;
        .swiper-button-next,
        .swiper-button-prev {
            width: 40px;
            height: 80px;
            border-radius: 6px;
            background-color: #edeff6;
            transition: all 0.3s ease;
            top: 170px;
            &::after {
                color: #000;
                font-size: 12px;
            }
            &:hover {
                background-color: var(--color-cyan2);
                &::after {
                    color: #fff;
                }
            }
        }
        .recommended-slider {
            position: relative;
            overflow: hidden;
            padding-bottom: 80px;
            .product-card {
                position: relative;
                text-align: center;
                padding: 20px;
                border-radius: 12px;
                transition: all 0.3s ease;
                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ccc;
                    pointer-events: none;
                    border-radius: 12px;
                    transition: all 0.3s ease;
                }
                &:hover {
                    // padding-bottom: 80px;
                    // margin-bottom: -80px;
                    &::after {
                        height: calc(100% + 60px);
                    }
                    .title {
                        color: var(--color-cyan2);
                    }
                    .prod-img-slider {
                        .img {
                            opacity: 0.2;
                        }
                        .float-icons {
                            transform: translate(-50%, -50%) scale(1);
                            opacity: 1;
                        }
                    }
                    .butn {
                        opacity: 1;
                        bottom: -40px;
                    }
                }
                .butn {
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                    width: calc(100% - 40px);
                    opacity: 0;
                    transition: all 0.3s ease;
                    padding: 13px 30px;
                }
                .top-info {
                    min-height: 65px;
                }
                .title {
                    font-size: 14px;
                    font-weight: 600;
                }
                .rate {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 11px;
                    color: #999;
                    line-height: 1;
                    .stars {
                        color: #fbae24;
                        margin-inline-end: 5px;
                    }
                }

                .prod-img-slider {
                    position: relative;
                    height: 240px;
                    padding-top: 5px;
                    overflow: hidden;
                    .swiper-pagination-bullet-active {
                        background-color: var(--color-cyan2);
                    }
                    .float-tags {
                        position: absolute;
                        top: 5px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 20;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            font-size: 11px;
                            padding: 5px 8px;
                            border-radius: 8px;
                            line-height: 1;
                            background-color: #000;
                            color: #fff;
                            z-index: 20;
                            text-transform: uppercase;
                            margin: 3px;
                            white-space: nowrap;
                        }
                    }
                    .img {
                        height: 200px;
                        transition: all 0.3s ease;
                        // &::after {
                        //     position: absolute;
                        //     content: "";
                        //     left: 0;
                        //     top: 0;
                        //     width: 100%;
                        //     height: 100%;
                        //     background-color: #fff;
                        //     opacity: 0.8;
                        // }
                    }
                    .float-icons {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        z-index: 10;
                        opacity: 0;
                        transition: all 0.3s ease;
                        a{
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            text-align: center;
                            border-radius: 50%;
                            background-color: #000;
                            color: #fff;
                            margin: 3px;
                            &:hover {
                                background-color: var(--color-cyan2);
                            }
                        }
                    }
                }
                .price {
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                    .last-price {
                        font-size: 13px;
                        color: #666;
                        text-decoration: line-through;
                    }
                    .dis {
                        font-size: 11px;
                        padding: 5px 8px;
                        border-radius: 8px;
                        line-height: 1;
                        background-color: var(--color-red2);
                        color: #fff;
                        margin-inline-start: 10px;
                        text-transform: uppercase;
                    }
                }
                .btm-fav {
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 12px;
                    .fav-btn {
                        font-size: 14px;
                        color: #999;
                        &.active {
                            color: var(--color-red2);
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-recommended-style4  {
        .recommended-slider-content {
            width: 100%;
            margin-left: 0;
            padding: 0;
        }
        .recommended-content .nav-pills .nav-link {
            font-size: 11px;
            padding: 5px 10px;
            margin: 4px;
        }
    }
}