
<!--  Start footer  -->
<footer class="tc-footer-style1">

    <div class="container">
        <div class="foot-icons py-5 border-1 border-bottom">
            <div class="row">
                <div class="col-lg-3 border-1 border-end">
                    <p class="fsz-14 text-uppercase"> <span class="icon color-blue1 me-3"> <i class="fal fa-shipping-fast"></i> </span> Free Shipping over $99  </p>
                </div>
                <div class="col-lg-3 border-1 border-end">
                    <p class="fsz-14 text-uppercase ps-lg-3"> <span class="icon color-blue1 me-3"> <i class="fal fa-redo"></i> </span> 30 Days money back  </p>
                </div>
                <div class="col-lg-3 border-1 border-end">
                    <p class="fsz-14 text-uppercase ps-lg-3"> <span class="icon color-blue1 me-3"> <i class="fal fa-shield"></i> </span> 100% Secure Payment  </p>
                </div>
                <div class="col-lg-3">
                    <p class="fsz-14 text-uppercase ps-lg-3"> <span class="icon color-blue1 me-3"> <i class="fal fa-comments-alt"></i> </span> 24/7 Dedicated Support  </p>
                </div>
            </div>
        </div>
        <div class="foot-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="foot-info">
                        <h6 class="fw-bold mb-30 text-capitalize"> Swoo - Online Electronic Market </h6>
                        <small class="fsz-12 text-uppercase"> hotline 24/7 </small>
                        <h5 class="fw-bold color-blue1 mb-20"> (025) 3686 25 16 </h5>
                        <a href="#"> 257 Thatcher Road St, Brooklyn, Manhattan, <br> NY 10092 </a>
                        <a href="#"> contact@swateletro.com </a>
                        <div class="foot-social mt-40">
                            <a href="#"> <i class="fab fa-twitter"></i> </a>
                            <a href="#"> <i class="fab fa-facebook-f"></i> </a>
                            <a href="#"> <i class="fab fa-instagram"></i> </a>
                            <a href="#"> <i class="fab fa-youtube"></i> </a>
                            <a href="#"> <i class="fab fa-behance"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-item mt-5 mt-lg-0">
                        <h6 class="fsz-18 mb-30"> Top Categories </h6>
                        <ul class="links">
                            <li> <a href="#"> TV/Televisions </a> </li>
                            <li> <a href="#"> Computers </a> </li>
                            <li> <a href="#"> Laptops </a> </li>
                            <li> <a href="#"> Mobiles & Tablets </a> </li>
                            <li> <a href="#"> Audios </a> </li>
                            <li> <a href="#"> Cameras </a> </li>
                            <li> <a href="#"> Gadget </a> </li>
                            <li> <a href="#"> Sport Equipments </a> </li>
                            <li> <a href="#"> Office </a> </li>
                            <li> <a href="#"> Smart Home </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-item mt-5 mt-lg-0">
                        <h6 class="fsz-18 mb-30"> Company </h6>
                        <ul class="links">
                            <li> <a href="#"> About Swoo </a> </li>
                            <li> <a href="#"> Contact </a> </li>
                            <li> <a href="#"> Career </a> </li>
                            <li> <a href="#"> Blog </a> </li>
                            <li> <a href="#"> Sitemap </a> </li>
                            <li> <a href="#"> Store Locations </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-item mt-5 mt-lg-0">
                        <h6 class="fsz-18 mb-30"> Help Center </h6>
                        <ul class="links">
                            <li> <a href="#"> Customer Service </a> </li>
                            <li> <a href="#"> Policy </a> </li>
                            <li> <a href="#"> Terms & Conditions </a> </li>
                            <li> <a href="#"> Trach Order </a> </li>
                            <li> <a href="#"> FAQs </a> </li>
                            <li> <a href="#"> My Account </a> </li>
                            <li> <a href="#"> Product Support </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="links-item mt-5 mt-lg-0">
                        <h6 class="fsz-18 mb-30"> Partner </h6>
                        <ul class="links">
                            <li> <a href="#"> Become Seller </a> </li>
                            <li> <a href="#"> Affiliate </a> </li>
                            <li> <a href="#"> Advertise </a> </li>
                            <li> <a href="#"> Partnership </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="foot">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center text-lg-start">
                    <p class="color-666"> © 2023 <a href="#" class="fw-bold color-000"> SWOO </a>. All Rights Reserved </p>
                </div>
                <div class="col-lg-4">
                    <div class="pay text-center my-4 my-lg-0">
                        <img src="assets/home1/img/pay/pay1.png" alt="" class="mx-2">
                        <img src="assets/home1/img/pay/pay2.png" alt="" class="mx-2">
                        <img src="assets/home1/img/pay/pay3.png" alt="" class="mx-2">
                        <img src="assets/home1/img/pay/pay4.png" alt="" class="mx-2">
                        <img src="assets/home1/img/pay/pay5.png" alt="" class="mx-2">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="links lang-links ">
                        <ul class="links-ul justify-content-lg-end justify-content-center">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="la la-dollar-sign me-1"></i> USD
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
                                  <li><a class="dropdown-item" href="#">USD</a></li>
                                  <li><a class="dropdown-item" href="#">USD</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="assets/home1/img/eng.png" alt="" class="me-2 icon-15"> Eng
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown6">
                                  <li><a class="dropdown-item" href="#">Arabic</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mob-navigation d-flex d-lg-none">
        <ul>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="las la-sync-alt"></i> </span>
                    <span class="text">Compare</span>
                </a>
            </li>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="lar la-heart"></i> </span>
                    <span class="text">Favorite</span>
                </a>
            </li>
            <li class="list active">
                <a href="#0">
                    <span class="icon"> <i class="las la-home"></i> </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="las la-shopping-bag"></i> </span>
                    <span class="text">Cart</span>
                </a>
            </li>
            <li class="list">
                <a href="#0">
                    <span class="icon"> <i class="las la-user"></i> </span>
                    <span class="text">Profile</span>
                </a>
            </li>
            <li class="indicator"></li>
        </ul>
    </div>

</footer>
<!--  End footer  -->

<!--  Start to top button  -->
<a href="#" class="to_top">
    <i class="la la-angle-up"></i>
</a>
<!--  End to top button  -->